html{
    background: green;
}

div#container{
    width: 1000px;
    margin: 0 auto;
}

*{
    /* border: 1px black solid; */
}

div#score{
    width: 1010px;
    height: 100px;
    background-color: pink;
}

div#grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3,220px);
    width: 900px;
    grid-gap: 20px;
}

div.pictureholder{
    margin: auto auto;
    width: 150px;
    height: 150px;
    background-color: blue ;
    border: 1px black solid;
}