html{
    font-family: Arial , sans-serif;
    font-size: 24px;
    background: green;
}

body{
    height: 100vh;
    margin: auto;
}

div#picture-holders{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div.punten{
    border: 1px black solid;
    text-align: center;
    width: 200px;
    padding: 20px;
    background-color: white;
}

div#spelers{
    top: 20px;
    display: flex;
    position: absolute;
    width: 90%;
    justify-content: space-between;
}

div.beurt-speler{
    text-align: center;
    width: 300px;
    padding: 20px;
    border: 1px black solid;
    background-color: white;
}

div#grid{
    background-color: blue;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 220px);
    width: 1000px;
    height: 500px;
}