html{
    font-family: Arial , sans-serif;
    font-size: 24px;
    background: green;
}

body{
    height: 100vh;
    margin: auto;
}

div#picture-holders{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div.punten{
    border: 1px black solid;
    text-align: center;
    padding: 20px;
    background-color: white;
}

div#spelers{
    top: 20px;
    display: flex;
    position: absolute;
    width: 90%;
    justify-content: space-between;
}

div.beurt-speler{
    text-align: center;
    padding: 20px;
    border: 1px black solid;
    background-color: white;
}

div#grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 170px);
    grid-gap: 15px;
    width: 1000px;
}

div.picture{
    border: 2px black solid;
    background: url("img/logo1.jpg");
    width: 150px;
    height: 150px;
    background-color: blue;
}


div.picture.background{
    width: 150px;
    height: 150px;
}