
body{
    justify-content: center;
    font-family: 'Copse', serif;
    width: 1000px;
    margin: auto;
}

img{
    height: 300px;
    width: 300px;
    border: 0px;
}

#pics{
    width: 900px;
    height: 900px;
    border: solid 2px black;
    font-size: 0px;
    margin: auto;
}

h1{
    text-align: center;
}

