
body{
    justify-content: center;
    font-family: 'Copse', serif;
    width: 1000px;
    margin: auto;
}

img{
    height: 200px;
    width: 200px;
    border: 0px;
}

#pics{
    width: 600px;
    height: 600px;
    border: solid 2px black;
    font-size: 0px;
    margin: auto;
}

h1{
    text-align: center;
}

